/* GLOBAL STYLES */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
    font-size: 125%;
}

.wrapper {
    max-width: 1200px;
    margin:0 auto;
}

/* MAIN STYLES */
/* 

    font-family: 'Cormorant Garamond', serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Catamaran', sans-serif;

 */

/* UNIVERSAL STYLES */

/* Read More Button Style */
.readMore{
    background-color:rgba(24,24,153,0.78);
    color:white;
    text-decoration:none;
    font-size: 1rem;
    padding:0.9rem 0.6rem;
    font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     text-transform:uppercase; 
}

/* HEADER STYLES */
header{
    background-image:url('./assets/assets_One-home_2019-01-22/image-1.jpg');
     height: 100vh;
     background-repeat: no-repeat;
     background-size:cover;
     padding-bottom:80px;
}

.mainHeader{
   color:white;
}


/* NAV MENU */


.logo{
    float:left;
     font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     font-style:italic;
     text-transform:uppercase;
     font-size:3.75rem;
     margin:0;
     padding:0;
}

.navMenu{
    list-style:none;
    padding:0;
    margin:0;
   
}

.navMenu li{
    float: right;
    padding: 2em;
    font-family: 'Catamaran', sans-serif;
    font-weight:600;
    font-size:1;
}

.navMenu a {
     text-decoration:none;
     color:white;
}

.mainTitle {
    clear:both;
   padding-top: 3%;
  
   text-align:center;
   color:white;
}

.mainTitle h1{
    padding:0;
    margin:0;
}


.italic{
    font-size:11.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style:italic;
    text-transform:uppercase;
    padding:0;
    margin:0;
}

.lowerTitle {
    display:block;
    font-size:7.5rem;
    font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     text-transform:uppercase;
     padding:0;
     margin:0;
     position:relative;
     bottom: 100px;
}

.socialNetwork ul{
    list-style:none;
    float:right;
   margin:0;
   padding-right: 2.5rem;
 
}

.socialNetwork ul li{
    color:white;
    padding: 1rem;
    
}

/* NEWS ARTICLE GALLERY SECTION */

.gallerySection{
    text-align:center;
}

.gallerySection h3{
    font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     font-size:2.5rem;
    padding: 2rem 0;
    text-transform:uppercase;
}

.firstGalleryLeft,
.firstGalleryCenter,
.firstGalleryRight {
    width: calc(( 100% - 5rem )/3);
    float: left;
}

.firstGalleryLeft {
    margin-right: 1.25rem;
}

.firstGalleryCenter{
    margin: 0 1.25rem;
}

.firstGalleryRight{
    margin-left: 1.25rem;
}

.firstGallery img {
    width: 100%;
   
}



/* WEEKLY HIGHLIGHT SECTION */
.weeklyHighlight{
    clear:both;
    width:100%;
   padding: 5rem 0 2rem 0;

}

.weeklyHighlightLeft{
    float:left;
    width:26%;
}

.weeklyHighlightRight{
    width:74%;
    float:right;
    padding-left: 2rem;
}

.weeklyHighlightImage {
    width: 100%;
   
   
}

.weeklyHighlightImage img{
    width:100%;
}


.weeklyHighlightInfo { 
    font-size: .7rem;
    width: 100%;
  
}

.weeklyHighlightInfo p, .weeklyHighlightInfo h4 {
    padding:0;
    margin:0;
}

.weeklyHighlightInfo h4 {
    font-size: 2.1rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform:uppercase;
    padding-bottom:.5rem;
}

.weeklyHighlightInfo p {
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom:2.6rem;
}

/* SQUARE GALLERY STYLES */

.squareGallery {
    float:left;   
}


.squareGallery--TopImage,
.squareGallery--TopInfo,
.squareGallery--BottomImage,
.squareGallery--BottomInfo{
   float: left;
    width: 50%;
  
}

.squareGallery--TopImage img,
.squareGallery--BottomImage img{
    width: 100%;
    height: 100%;
}

.squareGallery--TopInfo{
   padding: 5rem 3rem 0 10rem;
}

.squareGallery--BottomInfo{
    padding: 5rem 10rem 0 3rem;
}

.squareGallery--TopInfo h5{
    width: 60%;
}

.squareGallery h5 {
    font-size: 1.7rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform:uppercase;
    margin:0;
}

.squareGallery p {
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom:2.6rem;

}

/* THREE LINKS SHOPPING SECTION */

.shoppingLinksContainer{
    clear:both;
    background-image: url('./assets/assets_One-home_2019-01-22/oscar-aguilar-327500-unsplash.jpg');
   
}

.shoppingLinks {
  margin: 0 auto;
 max-width: 60%;
}

.shoppingLinks p {
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform:uppercase;
}

.shoppingLinks i {
    font-size: 2.1rem;
}

.shopBrands,
.community,
.events{
    color:white;
    float:left;
    padding:3rem;
    font-size: 1.5rem;
    text-align:center;
}

/* FOOTER STYLES */

/* Main Footer */
.mainFooterContent{
    background-color:#e3e3e3;
    padding:0;
    margin:0;
    
}

.subscriptionForm{
    float:left;
    width: 55%;
    
}

footer h6{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform:uppercase;
}

.subscriptionForm h6{
    padding:0;
    margin: 0;
}

.subscriptionForm p {
     font-family: 'Roboto', sans-serif;
     font-weight:300;
    line-height: 1.5rem;
}

input[type='email']{
    border:none;
    width:  24rem;
    
}

input[type='email']::placeholder{
     font-family: 'Roboto', sans-serif;
     color:#1f2022;
     font-weight: 300;
}

.contactInfo{
    float:left;
}

.footerNavLinks {
    float:right;
}

.footerNavLinks ul {
    list-style:none;
    text-align:right;
}

.footerNavLinks a {
    text-decoration:none;
    color:black;   
}

/* Copyright Section */

.copyright{
    background-color: #acacac;
}

.copyright p {
    margin:0;
    padding:0;

}
