/* GLOBAL STYLES */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
    font-size: 125%;
}

.wrapper {
    max-width: 1200px;
    margin:0 auto;
}


img{
    display:block;
}

/* FONT STYLES
    font-family: 'Cormorant Garamond', serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Catamaran', sans-serif;
 */
/* UNIVERSAL STYLES */

/* Read More Button Style */
.readMore{
    background-color:rgba(24,24,153,0.78);
    color:white;
    text-decoration:none;
    font-size: 1rem;
    padding:0.9rem 0.6rem;
    font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     text-transform:uppercase; 
}

/* HAMBURGER NAV */

.navigation{
    display:none;
}

.nav-checkbox{
  float:right;
  margin:35px;
  display:none;
}

.nav-button{
    color:white;
    height:4rem;
    width:4rem;
    position:fixed;
    top:0;
    right:0;
    text-align:center;
    cursor:pointer;
}

.nav-icon{
    position:relative;
    margin-top: 2.5rem;
    color:white;
    font-size: 2rem;
    margin-right:1rem
}

.nav-content{
    display:none;
    position:absolute;
    margin:0 auto;
    right:0;
    top:9%;
    text-align:right;
    padding-right:22px;
    margin-right: 22px;
    background-color:rgba(24,24,153,0.78);
   border-radius: 10px;
    font-family:'Catamaran', sans-serif;
    font-size: 1em;
    padding:10px;
    
}

.nav-content ul{
    padding:0;
    margin:0;
}

.nav-content li{
    list-style:none;
    margin: 5px;
   
}

.nav-content a {
    text-decoration:none;
     color:white;
     text-transform:uppercase;
}

.hiddenSocials{
   padding-top: 20px;
}

.hiddenSocials li{
    float:left;
    color:white;
    padding: 10px;
}



input[type='checkbox']:checked + .nav-content{
    display:block;
}



/* HEADER STYLES */
header{
    background-image:url('./assets/assetsOnehome/image1.jpg');
     height: 100vh;
     background-repeat: no-repeat;
     background-size:cover;
     padding-bottom:80px;
}

.mainHeader{
   color:white;
}


/* NAV MENU */


.logo{
    float:left;
     font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     font-style:italic;
     text-transform:uppercase;
     font-size:3.75rem;
     margin:0;
     padding:0;
}

.navMenu{
    list-style:none;
    padding:0;
    margin:0;
   
}

.navMenu li{
    float: right;
    padding: 2em;
    font-family: 'Catamaran', sans-serif;
    font-weight:600;
    font-size:1;
}

.navMenu a {
     text-decoration:none;
     color:white;
}

.mainTitle {
   clear:both;
   padding-top: 3%;
   text-align:center;
   color:white;
}

.mainTitle h1{
    padding:0;
    margin:0;
}


.italic{
    font-size:11.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style:italic;
    text-transform:uppercase;
    padding:0;
    margin:0;
}

.lowerTitle {
    display:block;
    font-size:7.5rem;
    font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     text-transform:uppercase;
     padding:0;
     margin:0;
     position:relative;
     bottom: 100px;
}

.socialNetwork ul{
    list-style:none;
    float:right;
   margin:0 auto;
   padding-right: 2.5rem; 
}

.fa-facebook-f{
    padding-left:2px;
}

.socialNetwork ul li{
    color:white;
    padding: 0.5rem;
    
}

/* NEWS ARTICLE GALLERY SECTION */

.gallerySection{
    text-align:center;
}

.gallerySection h3{
    font-family: 'Cormorant Garamond', serif;
     font-weight: 600;
     font-size:2.5rem;
    padding: 2rem 0;
    text-transform:uppercase;
}

.firstGalleryLeft,
.firstGalleryCenter,
.firstGalleryRight {
    width: calc(( 100% - 5rem )/3);
    float: left;
}

.firstGalleryLeft {
    margin-right: 1.25rem;
}

.firstGalleryCenter{
    margin: 0 1.25rem;
}

.firstGalleryRight{
    margin-left: 1.25rem;
}

.firstGallery img {
    width: 100%;
   
}



/* WEEKLY HIGHLIGHT SECTION */
.weeklyHighlight{
    clear:both;
    width:100%;
   padding: 5rem 0 2rem 0;

}

.weeklyHighlightLeft{
    float:left;
    width:26%;
}

.weeklyHighlightRight{
    width:74%;
    float:right;
    padding-left: 2rem;
}

.weeklyHighlightImage {
    width: 100%;
   
   
}

.weeklyHighlightImage img{
    width:100%;
}


.weeklyHighlightInfo { 
    font-size: .7rem;
    width: 100%;
  
}

.weeklyHighlightInfo p, .weeklyHighlightInfo h4 {
    padding:0;
    margin:0;
}

.weeklyHighlightInfo h4 {
    font-size: 2.1rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform:uppercase;
    padding-bottom:.5rem;
}

.weeklyHighlightInfo p {
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom:2.6rem;
}

/* SQUARE GALLERY STYLES */

.squareGallery {
    float:right;
}


.squareGalleryTop{
    float:left;
}

.squareGalleryTopImage,
.squareGalleryTopInfo{
    float: right;
     width: 50%;

}
.squareGalleryBottomImage,
.squareGalleryBottomInfo{
  float:left;
  width: 50%;
}

.squareGalleryTopImage img,
.squareGalleryBottomImage img{
    width: 100%;
    height: 100%;
}

.squareGalleryTopInfo{
   padding: 4rem 3rem 0 6rem;
}

.squareGalleryBottomInfo{
    padding: 4rem 6rem 0 3rem;
   
}

.squareGalleryTopInfo h5{
    width: 60%;
}

.squareGallery h5 {
    font-size: 1.7rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform:uppercase;
    margin:0;
}

.squareGallery p {
    font-size:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom:2.6rem;

}

/* THREE LINKS SHOPPING SECTION */

.shoppingLinksContainer{
    clear:both;
    background-image: url('./assets/assetsOnehome/secondBackground.jpg');
    background-repeat:none;
   
}

.shoppingLinks {
  margin-left: 14%;
 max-width: 60%;
}

.shoppingLinks p {
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    text-transform:uppercase;
}

.shoppingLinks i {
    font-size: 2.1rem;
}

.shopBrands,
.community,
.events{
    color:white;
    float:right;
    padding:2rem;
    font-size: 1.5rem;
    text-align:center;
}

/* FOOTER STYLES */

/* Main Footer */
.mainFooterContent{
    background-color:#e3e3e3;
    
    margin:0;
    padding:4.5rem 0 4.2rem 0;
    
    
}

.subscriptionForm{
    float:left;
    width: 55%;
    
}

footer h6{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform:uppercase;
      padding:0;
    margin: 0;
}


.subscriptionForm p {
     font-family: 'Roboto', sans-serif;
     font-weight:300;
    line-height: 1.5rem;
}

input[type='email']{
    border:none;
    width:  24rem;
    padding: 15px;
    line-height: 1rem;
    float: left;
}

input[type='email']::placeholder{
     font-family: 'Roboto', sans-serif;
     color:#1f2022;
     font-weight: 300;
}

.footerButton {
   color:white;
   background-color:black;
   font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    padding:15px;
    line-height:1rem;
    text-transform: uppercase;
    border:none;
    letter-spacing: .1rem;
    

}

.contactInfo{
    float:left;
    padding-left:5.5rem;
}

.contactInfo p {
    font-family:'roboto', sans-serif;
    font-weight: 300;
    margin:0;
    padding:0;
    line-height:1.5rem;
}

.footerNavLinks {
    float:right;
}

.footerNavLinks ul {
    list-style:none;
    text-align:right;
}

.footerNavLinks a {
    text-decoration:none;
    font-family: 'Catamaran', sans-serif;
    color:#040404;
    line-height: 1.5rem;
}

/* Copyright Section */

.copyright{
    background-color: #acacac;
   padding: .5rem;
   text-align:center;
}

.copyright p {
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    line-height: 1.5rem;

}

/* @MEDIAQUERIES */

@media screen and (max-width:1325px){
 
    .shoppingLinks{
      max-width:100%;
      margin-right: 19%;
      margin-left:5%;
       
   }
   
}



@media screen and (max-width: 1275px) {
    
    .squareGalleryTopInfo{
         padding: 1rem 3rem 0 4rem;
    }
    
    .squareGalleryBottomInfo{
        padding: .5rem 3rem 0 2rem;
    }
    
   
}

@media screen and (max-width: 1155px){
    .squareGalleryTopInfo{
         padding: 0 2rem 0 1rem;
    }

    .squareGallery p {
        line-height: 1.3;
        padding-bottom:1.7rem
    }

    #emailInput{
        width: 47%;
    }
    .footerButton{
        width: 23%;
        font-size:.7rem
    }

    .contactInfo{
        padding-left:2rem;
    }

    .shoppingLinks{
        margin-right:16%;
    }
}

@media screen and (max-width: 1000px){
    .squareGalleryTopInfo{
    clear:both; 
    padding:0;
    margin:0 ;
    width: 100%;
    line-height:1.5rem;
    text-align:center;
    padding-bottom: 50px;
    } 

    .squareGalleryTopInfo h5{
        width: 100%;
    }

     .squareGalleryTopImage{
        width:100%;
    }
    
    .squareGalleryBottomImage{
        clear:both;
        width: 100%;
    }

    .squareGalleryBottomInfo{
        width: 100%;
        padding:0;
        margin:0;
        text-align:center;
    }
     
    .shopBrands,
    .community,
    .events{
       padding:1.4rem;
       
    } 

    .squareGallery{
        margin-bottom:3rem;
    }

}



@media screen and (max-width: 900px) {
    .weeklyHighlightLeft{
        width: 40%;
    }
    .weeklyHighlightRight{
        width: 50%;
        padding:0;
    
    }
    .weeklyHighlightRight h4 {
        font-size: 1.7rem;
    }

    .shopBrands,
    .community,
    .events{
       padding:.8rem;
       float:none;
       margin-left:5rem;
    }
    
    /* USED BIGGER IMAGE (IMG 5x2) BECAUSE THE SCALING WAS OFF ON THE LARGER IMG */
    .shoppingLinksContainer{
        background: url('./assets/assetsOnehome/image5x2.jpg');
        background-repeat:no-repeat;
        background-size:cover;     
    }

    .shoppingLinksContainer p {
        font-size: 1.3rem;
    }

    .shoppingLinks{
       
    }



      .contactInfo{
        padding-left:0rem;
    }
}

@media screen and (max-width: 860px){
    .subscriptionForm{
        width:90%;
        text-align:center;
        margin-left: 5%;
        padding-bottom:20px;
        
    }

    #emailInput{
        width:100%;
        margin-bottom: 2%;
        text-align:center;
    }

    .footerButton{
        width:100%;
    }

    .contactInfo{
        padding:0;
        margin-left:5%;
    }
    .footerNavLinks{
        margin-right:5%
    }
    
}


@media screen and (max-width: 800px){

.italic{
    font-size:10rem;
}

.lowerTitle{
    font-size: 6rem;
    bottom: 70px;
}

.shopBrands,
.community,
.events{
    margin-left:4rem;
}
}


@media screen and (max-width: 700px) {
    .navigation{ 
        display: block;
    }
    
    .navMenu{
        display:none;
    }    
    

    .gallerySection{
        max-width: 90%;
     
  
     
    }

    .gallerySection h3{
        font-size: 1.5rem;
    }

    .firstGalleryRight{
        display:none;
        position:absolute;
    }
    
    
    .firstGalleryLeft,
    .firstGalleryCenter{
        width: calc(50% - .5rem);
    }
    
    .firstGalleryLeft img,
    .firstGalleryCenter img{
        width: 100%;
        
    }

    .firstGalleryCenter{
   
      margin-right: 0;
      margin-left: .5rem
    }

    .firstGalleryLeft{
        margin-right: .5rem;
    }
    
    .socialNetwork{
        display:none;
    }

    .logo{
        display:none;
    }

    .mainTitle{
        position:relative;
        top:10rem;
    }
}

    
    @media screen and (max-width: 650px) {
        .weeklyHighlight{
            float:left;
        }
    
        .weeklyHighlightLeft{
            width: 84%;
            margin-left:8%;
        }


        .weeklyHighlightRight{
            width: 96%;
            margin-left:2%;
            margin-right:1%;
            font-size: .8rem;
    
        }

        .weeklyHighlightInfo p{
            font-size:0.9rem;
        }

        .weeklyHighlightRight h4{
            text-align:center;
        }

        .weeklyHighlight .readMore{
            text-align:center;
            position:relative;
            left:40%;   
        }

        .italic{
            font-size: 7.5rem;
        }
        .lowerTitle{
            font-size: 5rem;
        }

        .shopBrands,
        .community,
        .events{
            margin-left: 3.5rem;
        }
    }

    @media screen and (max-width: 550px){
        .italic{
            font-size:5rem;
        }

        .lowerTitle{
            font-size: 3.4rem;
            bottom: 35px;
        }
    }

    @media screen and (max-width: 440px){
        .footerNavLinks ul{
            margin:0;
            padding:0;

        }

        .contactInfo{
            font-size:0.8rem;
        }

        .mainTitle{
            font-size:  3rem;
        }

        .lowerTitle{
            font-size:2.5rem;
        }

        .readMore{
            font-size:.9rem;
        }
        
        .shopBrands,
        .community,
        .events{
            margin-left:1.5rem;
        }

        .footerButton{
            font-family: 'Catamaran', sans-serif;
            font-weight: 600;
            font-size:0.9rem;
            line-height:1.5rem;
            padding:10px;
        }

        .subscriptionForm p{
            font-size: 0.8rem;
        }

        form{
            padding-bottom:1rem;
        }

        .contactInfo h6{
            padding-bottom:0.6rem;
        }

        .mainFooterContent{
            padding-top:2rem;
        }

        .footerNavLinks li{
            padding-bottom:5px;
        }

        .shoppingLinks{
            padding-top:2rem;
        }
    }
    
    

